<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.star_zero.example.androidmvvm">

    <application
        android:name=".DebugApp"
        android:allowBackup="false"
        tools:replace="android:name" />

</manifest>